In [2]:
# filter rows of a DataFrame based on a condition

import pandas as pd

df = pd.read_csv('data.csv', usecols=['Calories'])

df.loc[(df['Calories'] >= 300) & (df['Calories'] <= 400)]

df

     Calories
0       409.1
1       479.0
2       340.0
3       282.4
4       406.0
..        ...
164     290.8
165     300.0
166     310.2
167     320.4
168     330.4

[169 rows x 1 columns]